readme.html

bower_components
node_modules
build

*.class

# Package Files #
*.jar
*.war
*.ear

*.pyc

id_rsa
id_rsa.pub

/docker/jenkins/jenkins
/docker/apache2/var
/docker/apache2/etc
/docker/wildfly/opt
/docker/postgres/data